<div class="container row" ng-controller="account">
    <h3>账户管理</h3>
    <hr/>
    <div class="row">
        <button type="button" class="btn btn-success col-lg-1 butt-add" data-toggle="modal" data-target="#myModal">
            <span class="glyphicon glyphicon-plus-sign glyphicon-lg"></span> 添加
        </button>
        <span class="col-lg-offset-3 col-lg-2">
            <label>账户名称：</label>
            <input type="text" ng-model="searchForm.accName" class="form-control" placeholder="搜索……" />
        </span>
        <span class="col-lg-2">
            <label>状态：</label>
            <select class="form-control" id="accStatus" ng-model="searchForm.accStatus">
                <option value="">--请选择--</option>
                <option value="V">有效</option>
                <option value="I">无效</option>
                <option value="T">过期</option>
            </select>
        </span>
        <span class="col-lg-2">
            <label>账户编码：</label>
            <input type="text" ng-model="searchForm.acctCode" class="form-control" placeholder="搜索……" />
        </span>
        <br/>
        <span class="col-lg-1">
          <button class="btn btn-default" ng-click="search()" type="button"><a href="" class="glyphicon glyphicon-search">搜索</a></button>
        </span>
    </div>
    <br/>
    <table class="table table-bordered">
        <tr class="bg-info">
            <th>账户名称</th>
            <th>账户编号</th>
            <th>状态时间</th>
            <th>账户类型</th>
            <th>账户状态</th>
            <th>支付方式</th>
            <th>说 明</th>
            <th>创建用户</th>
            <th>操作</th>
        </tr>
        <tr ng-repeat="list in TdItem">
            <td>{{list.accName}}</td>
            <td>{{list.acctCode}}</td>
            <td ng-bind="list.accStatusDate.time|date:'yyyy-MM-dd  hh:mm:ss'"></td>
            <td ng-switch on="list.accType">
                <span ng-switch-when="A">代理</span>
                <span ng-switch-when="DP">直客有平台</span>
                <span ng-switch-when="DN">直客无平台</span>
            </td>
            <td ng-switch on="list.accStatus">
                <span ng-switch-when="V">有效</span>
                <span ng-switch-when="I">无效</span>
                <span ng-switch-when="T">注销</span>
            </td>
            <td ng-switch on="list.accPayMethod">
                <span ng-switch-when="1">银行卡</span>
                <span ng-switch-when="2">支票</span>
                <span ng-switch-when="3">现金</span>
                <span ng-switch-when="4">电子支付</span>
            </td>
            <td>{{list.accComments}}</td>
            <td>{{list.suName}}</td>
            <td>
                <!--                     <input type="button" class="btn btn-danger" ng-click="accdelete(list.acctId)" value="删除"> 删除当前行 -->
                <input type="button" class="btn btn-warning" ng-click="Revise($index)" data-toggle="modal" data-target="#myModalRevise" value="修改">
                <input type="button" class="btn btn-info" value="详细信息" ng-click=info($index)>
            </td>
        </tr>
    </table>
    <!--下面是鼠标放上显示客户详细信息-->
    <div class="modal" id="infomodal">
        <div class="modal-dialog">
            <!--定位、宽高-->
            <table class="table bg-info triangle-right">
                <tr>
                    <th>账户名称</th>
                    <th>所属客户</th>
                    <th>客户编码</th>
                    <th>地址</th>
                    <th>电话</th>
                    <th>客户类型</th>
                </tr>
                <tr ng-repeat="list in accdataInfoTd">
                    <td ng-model="acctName">{{accName}}</td>
                    <td>{{list.name}}</td>
                    <td>{{list.code}}</td>
                    <td>{{list.address}}</td>
                    <td>{{list.phone}}</td>
                    <td ng-switch on="list.type">
                        <span ng-switch-when="AP">代理客户有自营平台</span>
                        <span ng-switch-when="AN">代理客户无自营平台</span>
                        <span ng-switch-when="DP">直客有自营平台</span>
                        <span ng-switch-when="DN">直客无自营平台</span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <!--下面是添加弹出框的页面-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <!--定位、宽高-->
            <form class="modal-content" role="form" name="signUpForm">
                <!--背景、边框、阴影-->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel11">请输入</h4>
                </div>
                <div class="modal-body">
                    <div class="input-group">
                        <div class="input-group-btn">
                            <span class="btn btn-default">账户名称</span>
                        </div>
                        <input type="text" class="form-control" name="name" ng-model="accdata.name" required>
                        <div class="top-right">
                            <p class="text-danger glyphicon glyphicon-remove" ng-if="signUpForm.name.$error.required&&signUpForm.name.$touched">
                                必填项！</p>
                        </div>
                    </div>
                    <br/>
                    <div class="input-group">
                        <div class="input-group-btn">
                            <sapn class="btn btn-default">账户代码</sapn>
                        </div>
                        <input type="text" class="form-control" name="code" ng-model="accdata.acctCode" required>
                        <div class="top-right">
                            <p class="text-danger glyphicon glyphicon-remove" ng-if="signUpForm.code.$error.required&&signUpForm.code.$touched">
                                必填项！</p>
                        </div>
                    </div>
                    <br/>
                    <div class="input-group">
                        <div class="input-group-btn">
                            <span class="btn btn-default">客户名称</span>
                        </div>
                        <select name="custId" class="form-control" ng-model="accdata.custId" required>
                            <option ng-repeat="(key,value) in name" value="{{key}}">{{value}}</option>
                        </select>
                        <div class="top-right">
                            <p class="text-danger glyphicon glyphicon-remove" ng-if="signUpForm.custId.$error.required&&signUpForm.custId.$touched">
                                必填项！</p>
                        </div>
                    </div>
                    <br/>
                    <div class="input-group">
                        <div class="input-group-btn">
                            <span class="btn btn-default">账户类型</span>
                        </div>
                        <select name="type" class="form-control" ng-model="accdata.type" required>
                            <option value="A">代理</option>
                            <option value="DP">直客有平台</option>
                            <option value="DN">直客无平台</option>
                        </select>
                        <div class="top-right">
                            <p class="text-danger glyphicon glyphicon-remove" ng-if="signUpForm.type.$error.required&&signUpForm.type.$touched">
                                必填项！</p>
                        </div>
                    </div>
                    <br/>
                    <div class="input-group">
                        <div class="input-group-btn">
                            <span class="btn btn-default">账户状态</span>
                        </div>
                        <select name="status" class="form-control" ng-model="accdata.status" required>
                            <option value="V">有效</option>
                            <option value="I">无效</option>
                            <option value="T">注销</option>
                        </select>
                        <div class="top-right">
                            <p class="text-danger glyphicon glyphicon-remove" ng-if="signUpForm.status.$error.required&&signUpForm.status.$touched">
                                必选项！</p>
                        </div>
                    </div>
                    <br/>
                    <div class="input-group">
                        <div class="input-group-btn">
                            <span class="btn btn-default">支付方式</span>
                        </div>
                        <select name="payMethod" class="form-control" ng-model="accdata.payMethod" required>
                            <option value="1">银行卡</option>
                            <option value="2">支票</option>
                            <option value="3">现金</option>
                            <option value="4">电子支付</option>
                        </select>
                        <div class="top-right">
                            <p class="text-danger glyphicon glyphicon-remove" ng-if="signUpForm.payMethod.$error.required&&signUpForm.payMethod.$touched">
                                必选项！</p>
                        </div>
                    </div>
                    <br/>
                    <div class="input-group">
                        <div class="input-group-btn">
                            <span class="btn btn-default">&nbsp;&nbsp;说&nbsp;&nbsp;&nbsp;明&nbsp;&nbsp;</span>
                        </div>
                        <input type="text" name="comments" class="form-control" ng-model="accdata.comments" required>
                        <div class="top-right">
                            <p class="text-danger glyphicon glyphicon-remove" ng-if="signUpForm.comments.$error.required&&signUpForm.comments.$touched">
                                必填项！</p>
                        </div>
                    </div>
                    <br/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-info" ng-click="AddAcctForm()" data-dismiss="modal">开户</button>
                </div>
            </form>
        </div>
    </div>
    <!--下面是修改弹出框的页面-->
    <div class="modal fade" id="myModalRevise" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabe">请输入</h4>
                </div>
                <div class="modal-body">
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button class="btn btn-default">账户名称</button>
                        </div>
                        <input type="text" class="form-control" ng-model="accRevise.name">
                    </div>
                    <br/>
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button class="btn btn-default">账户代码</button>
                        </div>
                        <input type="text" class="form-control" ng-model="accRevise.acctCode">
                    </div>
                    <br/>
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button class="btn btn-default">客户名称</button>
                        </div>
                        <input type="text" class="form-control" ng-repeat="(key,value) in custId" value={{value}} ng-disabled="true">
                        <input type="text" id="sel" class="form-control" ng-repeat="(key,value) in custId" value={{key}} ng-show="false">
                    </div>
                    <br/>
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button class="btn btn-default">账户类型</button>
                        </div>
                        <select name="" class="form-control" ng-model="accRevise.type">
                            <option value="A">代理</option>
                            <option value="DP">直客有平台</option>
                            <option value="DN">直客无平台</option>
                        </select>
                    </div>
                    <br/>
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button class="btn btn-default">账户状态</button>
                        </div>
                        <select name="" class="form-control" ng-model="accRevise.status">
                            <option value="V">有效</option>
                            <option value="I">无效</option>
                            <option value="T">注销</option>
                        </select>
                    </div>
                    <br/>
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button class="btn btn-default">支付方式</button>
                        </div>
                        <select name="" class="form-control" ng-model="accRevise.payMethod">
                            <option value="1">银行卡</option>
                            <option value="2">支票</option>
                            <option value="3">现金</option>
                            <option value="4">电子支付</option>
                        </select>
                    </div>
                    <br/>
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button class="btn btn-default">&nbsp;&nbsp;说&nbsp;&nbsp;&nbsp;明&nbsp;&nbsp;</button>
                        </div>
                        <input type="text" class="form-control" ng-model="accRevise.comments">
                    </div>
                    <br/>
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button class="btn btn-default">创建用户</button>
                        </div>
                        <input type="text" class="form-control" ng-model="accRevise.createUser" ng-disabled="true">
                    </div>
                    <br/>
                </div>
                <br/>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-info" ng-click="accReviseForm()" data-dismiss="modal">开户</button>
                </div>
            </div>
        </div>
    </div>
    <!--下面是分页-->
    <nav>
        <ul class="pagination paging pull-right">
            <li>
                <a ng-click="Previous()">
                    <span>上一页</span>
                </a>
            </li>
            <li ng-repeat="page in pageList" ng-class="{active: isActivePage(page)}">
                <a ng-click="selectPage(page)">{{ page }}</a>
            </li>
            <li>
                <a ng-click="Next()">
                    <span>下一页</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
