<div class="container" ng-controller="secret">
    <h3>小号资源</h3>
    <hr/>
    <div class="row">
        <button type="button" class="btn btn-success col-lg-1 butt-add" data-toggle="modal" data-target="#myModalAdd">
            <span class="glyphicon glyphicon-plus-sign glyphicon-lg"></span> 添加
        </button>
        <button type="button" class="btn btn-primary col-lg-1 butt-add" ng-click="Download()">
            <span class="glyphicon glyphicon-save glyphicon-lg"></span> 下载模板
        </button>
        <button type="button" class="btn btn-primary col-lg-1 butt-add" ng-click="fail()">
            <span class="glyphicon glyphicon-arrow-up"></span> 上传模板
        </button>
        <div class="modal" id="failmodal">
            <div class="modal-dialog modal-top">
                <div class="input-group">
                    <div class="input-group-btn">
                        <button class="btn btn-default">上传模板</button>
                    </div>
                    <input class="form-control" type="file" ng-file-select="onFileSelect($files)" />
                </div>
            </div>
        </div>
        <span class="col-lg-offset-1 col-lg-2">
            <label>号码：</label>
            <input type="text" ng-model="secretSearchForm.number" class="form-control" placeholder="搜索……" />
        </span>
        <span class="col-lg-2">
            <label>类型：</label>
            <input type="text" ng-model="secretSearchForm.type" class="form-control" placeholder="搜索……" />
        </span>
        <span class="col-lg-2">
            <label>状态：</label>
            <input type="text" ng-model="secretSearchForm.state" class="form-control" placeholder="搜索……" />
        </span>
        <br/>
        <span class="col-lg-1">
          <button class="btn btn-default" ng-click="secretSearch()" type="button"><a href="" class="glyphicon glyphicon-search">搜索</a></button>
        </span>
    </div>
    <br/>
    <table class="table table-responsive" style="table-layout:fixed;">
        <tr class="bg-info">
            <th>号码</th>
            <th>appkey</th>
            <th>类型</th>
            <th>批次号</th>
            <th>状态</th>
            <th>状态日期</th>
            <th>创建日期</th>
            <th>区域编码</th>
            <th>城市</th>
            <th>ICCID</th>
            <th>IMSI</th>
            <th>操作</th>
        </tr>
        <tr ng-repeat="data in TdItem">
            <td>{{data.number}}</td>
            <td>{{data.appkey}}</td>
            <td>{{data.type}}</td>
            <td>{{data.batchNo}}</td>
            <td>{{data.state}}</td>
            <td ng-bind="data.stateDate.time|date:'yyyy-MM-dd  hh:mm:ss'"></td>
            <td ng-bind="data.createDate.time|date:'yyyy-MM-dd  hh:mm:ss'"></td>
            <td>{{data.areaCode}}</td>
            <td>{{data.city}}</td>
            <td style="word-break: break-all;word-wrap: break-word;">{{data.iccid}}</td>
            <td style="word-break: break-all;word-wrap: break-word;">{{data.imsi}}</td>
            <td>
                <input type="button" class="btn btn-danger" value="删除" ng-click="deleteTd(data.numberId)" />
                <input type="button" class="btn btn-warning" value="修改" ng-click="reviseTd($index)" data-toggle="modal" data-target="#myModalR" />
                <button type="button" class="btn btn-info" ng-click="info($index)">详细信息</button>
            </td>
        </tr>
    </table>
    <!--下面是添加弹出框的页面-->
    <div class="modal fade" id="myModalAdd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <!--定位、宽高-->
            <form class="modal-content" role="form" name="signForm">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLab">请输入</h4>
                </div>
                <div class="modal-body">
                    <div class="input-group">
                        <div class="input-group-btn">
                            <span class="btn btn-default">用户名</span>
                        </div>
                        <select name="createUser" class="form-control" id="selector" ng-model="secretAddForm.createUser" required>
                            <option ng-repeat="(key,value) in name" value={{key}}>{{value}}</option>
                        </select>
                        <div class="top-right">
                            <p class="text-danger glyphicon glyphicon-remove" ng-if="signForm.userId.$error.required&&signForm.userId.$touched">
                                必选项！</p>
                        </div>
                    </div>
                    <br/>
                    <div class="input-group">
                        <div class="input-group-btn">
                            <span class="btn btn-default">号码</span>
                        </div>
                        <input type="text" class="form-control" name="number" ng-model="secretAddForm.number" required>
                        <div class="top-right">
                            <p class="text-danger glyphicon glyphicon-remove" ng-if="signForm.number.$error.required&&signForm.number.$touched">
                                必选项！</p>
                        </div>
                    </div>
                    <br/>
                    <div class="input-group">
                        <div class="input-group-btn">
                            <span class="btn btn-default">appkey</span>
                        </div>
                        <input type="text" class="form-control" name="appkey" ng-model="secretAddForm.appkey" required>
                        <div class="top-right">
                            <p class="text-danger glyphicon glyphicon-remove" ng-if="signForm.appkey.$error.required&&signForm.appkey.$touched">
                                必选项！</p>
                        </div>
                    </div>
                    <br/>
                    <div class="input-group">
                        <div class="input-group-btn">
                            <span class="btn btn-default">类型</span>
                        </div>
                        <input type="text" class="form-control" name="type" ng-model="secretAddForm.type" required>
                        <div class="top-right">
                            <p class="text-danger glyphicon glyphicon-remove" ng-if="signForm.type.$error.required&&signForm.type.$touched">
                                必选项！</p>
                        </div>
                    </div>
                    <br/>
                    <div class="input-group">
                        <div class="input-group-btn">
                            <span class="btn btn-default">批次号</span>
                        </div>
                        <input type="text" class="form-control" name="batchNo" ng-model="secretAddForm.batchNo" required>
                        <div class="top-right">
                            <p class="text-danger glyphicon glyphicon-remove" ng-if="signForm.batchNo.$error.required&&signForm.batchNo.$touched">
                                必选项！</p>
                        </div>
                    </div>
                    <br/>
                    <div class="input-group">
                        <div class="input-group-btn">
                            <span class="btn btn-default">状态</span>
                        </div>
                        <input type="text" class="form-control" name="state" ng-model="secretAddForm.state" required>
                        <div class="top-right">
                            <p class="text-danger glyphicon glyphicon-remove" ng-if="signForm.state.$error.required&&signForm.state.$touched">
                                必选项！</p>
                        </div>
                    </div>
                    <br/>
                    <div class="input-group">
                        <div class="input-group-btn">
                            <span class="btn btn-default">区域编码</span>
                        </div>
                        <input type="text" class="form-control" name="areaCode" ng-model="secretAddForm.areaCode" required>
                        <div class="top-right">
                            <p class="text-danger glyphicon glyphicon-remove" ng-if="signForm.areaCode.$error.required&&signForm.areaCode.$touched">
                                必选项！</p>
                        </div>
                    </div>
                    <br/>
                    <div class="input-group">
                        <div class="input-group-btn">
                            <span class="btn btn-default">城市</span>
                        </div>
                        <input type="text" class="form-control" name="city" ng-model="secretAddForm.city" required>
                        <div class="top-right">
                            <p class="text-danger glyphicon glyphicon-remove" ng-if="signForm.city.$error.required&&signForm.city.$touched">
                                必选项！</p>
                        </div>
                    </div>
                    <br/>
                    <div class="input-group">
                        <div class="input-group-btn">
                            <span class="btn btn-default">ICCID</span>
                        </div>
                        <input type="text" class="form-control" name="iccid" ng-model="secretAddForm.iccid" required>
                        <div class="top-right">
                            <p class="text-danger glyphicon glyphicon-remove" ng-if="signForm.iccid.$error.required&&signForm.iccid.$touched">
                                必选项！</p>
                        </div>
                    </div>
                    <br/>
                    <div class="input-group">
                        <div class="input-group-btn">
                            <span class="btn btn-default">IMSI</span>
                        </div>
                        <input type="text" class="form-control" name="imsi" ng-model="secretAddForm.imsi" required>
                        <div class="top-right">
                            <p class="text-danger glyphicon glyphicon-remove" ng-if="signForm.imsi.$error.required&&signForm.imsi.$touched">
                                必选项！</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-info" data-dismiss="modal" ng-click="secretAddFormOk()">确认</button>
                </div>
            </form>
        </div>
    </div>
    <!--下面是修改弹出框的页面-->
    <div class="modal fade" id="myModalR" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <!--定位、宽高-->
            <form class="modal-content" role="form" name="signUpForm">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel11">请输入</h4>
                </div>
                <div class="modal-body">
                    <div class="input-group">
                        <div class="input-group-btn">
                            <span class="btn btn-default">用户名</span>
                        </div>
                        <!--   <input type="text" class="form-control"  ng-model="secretReviseForm.name" ng-disabled="true"> -->
                        <input type="text" class="form-control" ng-repeat="(key,value) in name" value={{value}} ng-disabled="true">
                    </div>
                    <br/>
                    <div class="input-group">
                        <div class="input-group-btn">
                            <span class="btn btn-default">号码</span>
                        </div>
                        <input type="text" class="form-control" ng-model="secretReviseForm.number" required>
                    </div>
                    <br/>
                    <div class="input-group">
                        <div class="input-group-btn">
                            <span class="btn btn-default">appkey</span>
                        </div>
                        <input type="text" class="form-control" ng-model="secretReviseForm.appkey" required>
                    </div>
                    <br/>
                    <div class="input-group">
                        <div class="input-group-btn">
                            <span class="btn btn-default">类型</span>
                        </div>
                        <input type="text" class="form-control" ng-model="secretReviseForm.type" required>
                    </div>
                    <br/>
                    <div class="input-group">
                        <div class="input-group-btn">
                            <span class="btn btn-default">批次号</span>
                        </div>
                        <input type="text" class="form-control" ng-model="secretReviseForm.batchNo" required>
                    </div>
                    <br/>
                    <div class="input-group">
                        <div class="input-group-btn">
                            <span class="btn btn-default">状态</span>
                        </div>
                        <input type="text" class="form-control" ng-model="secretReviseForm.state" required>
                    </div>
                    <br/>
                    <div class="input-group">
                        <div class="input-group-btn">
                            <span class="btn btn-default">区域编码</span>
                        </div>
                        <input type="text" class="form-control" ng-model="secretReviseForm.areaCode" required>
                    </div>
                    <br/>
                    <div class="input-group">
                        <div class="input-group-btn">
                            <span class="btn btn-default">城市</span>
                        </div>
                        <input type="text" class="form-control" ng-model="secretReviseForm.city" required>
                    </div>
                    <br/>
                    <div class="input-group">
                        <div class="input-group-btn">
                            <span class="btn btn-default">ICCID</span>
                        </div>
                        <input type="text" class="form-control" ng-model="secretReviseForm.iccid" required>
                    </div>
                    <br/>
                    <div class="input-group">
                        <div class="input-group-btn">
                            <span class="btn btn-default">IMSI</span>
                        </div>
                        <input type="text" class="form-control" ng-model="secretReviseForm.imsi" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-info" data-dismiss="modal" ng-click="secretReviseFormOk()">确认</button>
                </div>
            </form>
        </div>
    </div>
    <!--下面是详细信息弹出框-->
    <div class="modal" id="infomodal">
        <div class="modal-dialog">
            <!--定位、宽高-->
            <!--<span aria-hidden="true">&times;</span>-->
            <table class="table bg-info triangle-right">
                <tr>
                    <th>用户名</th>
                    <th>用户状态</th>
                    <th>用户编码</th>
                    <th>用户电话</th>
                </tr>
                <tr ng-repeat="list in secretdataInfoTd">
                    <td>{{list.name}}</td>
                    <td>{{list.status}}</td>
                    <td>{{list.code}}</td>
                    <td>{{list.tel}}</td>
                </tr>
            </table>
        </div>
    </div>
    <!--下面是分页-->
    <nav>
        <ul class="pagination paging pull-right">
            <li>
                <a ng-click="Previous()">
                    <span>上一页</span>
                </a>
            </li>
            <li ng-repeat="page in pageList" ng-class="{active: isActivePage(page)}">
                <a ng-click="selectPage(page)">{{ page }}</a>
            </li>
            <li>
                <a ng-click="Next()">
                    <span>下一页</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
